<!-- Bootstrap Panels are used for UI -->
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading" style="color: #000;">
            <div class="d-flex pr-5 pl-5">

                <input  type="text" id="username" name="username"  placeholder="   Search User..." #username> 
                <button type="button" class="btn btn-success button-style" (click)="getUserGist(username.value)"  > Search </button>
                <img id="avatar" class="ml-auto" [src]="Avatar_Url" alt=""   >
            </div>
        </div>  
<!-- All results are displayed in panel-body -->
          <div class="panel-body">
                <div class="success alert-success panel-style"  *ngFor="let user of UserGist" >        
                    <span > 
                        {{ setAvatar(user) }}
                        <!-- <script>
                            document.getElementById('avatar').style.visibility=true;
                        </script> -->
                        
                        <!-- <img src="{{user.owner.avatar_url}}" alt="" style="height: 50px; width: 50px;">
                        [(Avatar_Url)] = {{user.owner.avatar_url}} -->
                    </span>
                        
                        <h6>
                            Username: {{ user.owner.login  }}
                        </h6>
                        <h6>
                            
                            FileType: 
                            <a href="" (click)="openFunc(user)" data-toggle="modal" data-target="#myModal" >
                                {{ UserFileName(user) }}
                            </a>
                        </h6>
                        
                        <div class="dropdown">
                            <button class="btn btn-outline-info dropdown-toggle button-style02" type="button" data-toggle="dropdown" (click)=forkedBy(user) >
                              Forked List
                            </button>


<!-- If forkFlag is true than display forkdata 
and in case of forkFlag be false displaying message insted -->
                            <div *ngIf = "forkedFlag" >
                                <div class="dropdown-menu" *ngFor = "let forkUser of forkedIds | slice:0:3">
                                  <li class="dropdown-item" >{{ forkUser }}</li>


                                </div>

                            </div>

                            <div *ngIf = "!forkedFlag">
                                <div class="dropdown-menu">
                                    <li class="dropdown-item" >This gist is forked by no one </li>

                                  </div>
                            </div>
<!-- //// -->

                          </div>

<!-- /// Class Modal implementation, used for displaying File Code-->

                    <div id="myModal" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Code</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <pre>

                                    {{ codeFiles }}
                                </pre>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    </div>

<!-- /// -->

                </div>
               
            </div>
       
        </div>

</div>



